<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>



<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCH1osggKsNBB7e-Lm5spZmQ38ezpKDSBU&sensor=true">
</script>

<script type="text/javascript">
hs.graphicsDir = '/assets/highslide/graphics/';
hs.transitions = ['expand', 'crossfade'];
hs.dimmingOpacity = 0.1;
hs.align = 'center';
hs.align = 'center';
hs.outlineType = 'drop-shadow',
hs.showCredits = false,
hs.fadeInOut = true;
hs.addSlideshow({
  // slideshowGroup: 'group1',
  interval: 3000,
  repeat: false,
  useControls: true,
  fixedControls: true,
  overlayOptions: {
    opacity: 1,
    position: 'bottom center',
    hideOnMouseOut: true
  }
});
</script>
</head>
<body>

    <div class="convert">

    <div id="header">
    <div class="logo">
    	<h1>Kekusinkay Karate<h1>
    </div>
    </div>
   
    <div class="nav">
       <ul class="navigation"> 
       <li><%= link_to "Ozma",     ozma_path %></li>
       <li><%= link_to "Тренер",   federation_path %></li>
       <li><%= link_to "Галерея",  galery_path %></li>
       <li><%= link_to "Лагерь",   camp_path %></li>
       <li><%= link_to "Контакты", contact_path %></li>
       </ul>
	</div>

  <div class="element">
  <div class="loading2">
      <div></div>
      <div></div>
            <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
  </div>
  
  <div class="forajax">
	<%= yield %>
	</div>

  

	<div id="footer">
		<p>123 Your Street, Anytown, State 12345-6789 | Tel: (555) 555-5555</p>
	</div>

	</div>

</body>
</html>